<div id="footer" class="container">
  <div id="grey-footer" class="span-24 last">
    <div id="footer-body">
      <div class="span-5">
        <%= image_tag("smokefit/grey-logo.png", :alt=>"Smokefit Logo", :height=>"56px", :width=>"149px") %>
        <p class="small-text">Copywrite 2011</p>
      </div>
      <div class="span-10">
        <ul class="footer-menu span-2 pull-1">
          <li><span>Purchase</span></li>
          <li><a href="/t/categories/kits">Kits</a></li>
          <li><a href="/t/categories/accessories">Accessories</a></li>
          <li><a href="/t/categories/refills">Refills</a></li>
        </ul>
        <ul class="footer-menu span-4">
          <li><span>What is SmokeFit</span></li>
          <li><a href="/benefits">Benefits</a></li>
          <li><a href="/how_it_works">How it works</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
        </ul>
        <ul class="footer-menu span-2">
          <li><span>More Info</span></li>
          <li><a href="http://smokefit.tumblr.com">In the News</a></li>
          <li><a href="/contact-us">Contact</a></li>
        </ul>
      </div>
      <div id="footer-contact" class="span-8 last">
        <span class="big">1-(903)-231-3933</span>
        <div class="normal-text">Check us on <a href="http://www.facebook.com/pages/Ezeesmoke-Electronic-Cigarettes/107729392626717"><img src="/images/smokefit/facebook-logo.png" alt="Facebook Logo" /></a></div>
        <div class="small-text">Website by: <span class="electrictbot"><a href="http://www.electricbot.com/">Electricbot.com</a></span></div>
      </div>
    </div>
  </div>
  <div id="disclaimer" class="span-24 prepend-top last">
    <p>Disclaimer: By clicking our Logo to enter our site you agree to the following: ezeesmoke™ Electronic cigarettes are intended for use by adults only and are not intended for anyone under 18 years old, pregnant women or those who are sensitive to nicotine. Please keep ezeesmoke™ devices and cartridges out of the reach of children. Nicotine is highly addictive. ezeesmoke™ is not intended as a smoking cessation device. ezeesmoke™ is simply a healthier alternative to traditional smoking. This product is not intended to diagnose, mitigate, treat, cure, or prevent disease. Claims made herein have not been evaluated by the FDA. Read our <%= link_to("Terms & Conditions", "/terms_of_service") %>.</p>
  </div>
</div>