<div class="sheet">
  <div class="sheet-body">
    <%= image_tag("smokefit/cross.png", :alt=>"cross", :height=>"30px", :width=>"31px") %>
    <%= image_tag("smokefit/logo-small.png", :alt=>"logo", :height=>"38px", :width=>"140px") %>
    <div class="title">
      Fact Sheet
    </div>
    <hr>
    <div class="span-3 colborder">
      <h3>Convenience</h3>
      <span class="money bigger">Smoke</span>
      <span class="money">ANYWHERE</span>
    </div>
    <div class="span-3 last">
      <h3>Economics</h3>
      <span class="money size18">Save <span class="year">75%</span> on</span><br>
      <span class="money small">existing expenditures</span>
    </div>
    <hr class="space">
    <div class="span-3 colborder">
      <h3>2nd Hand Smoke</h3>
      <span class="money size13">No second</span><br>
      <span class="money size13">hand Smoke</span>
    </div>
    <div class="span-3 ">
      <h3>No Odor</h3>
      <span class="money">No dirty ashtrays, keep your car and home smelling fresh.</span>
    </div>
    <hr class="space">
  </div>
</div>