<div class="span-24 last">
  <div class="span-16">
    <h2>Benefits</h2>
    
    <p>
      <strong><em>All of the pleasures of a regular cigarette -- none of the risks</em></strong>
    </p>
    <p>
      ezeesmoke™ e-cigarettes contain no tars, toxins, or carcinogens; no carbon monoxide, sulfuric acid, or acetone; and none of the hundreds of other harmful chemicals associated with regular cigarette smoking. All that remains is the true pleasure of smoking -- and the ezeesmoke™ alternative: a great tasting <strong>e-cig</strong> that looks, feels, and tastes just like a regular cigarette, with none of the harmful long-term side effects of regular smoking.
    </p>
    <p>
      Much cheaper than regular cigarettes
    </p>
    <p>
      <strong><em>Much cheaper than regular cigarettes</em></strong>
    </p>
    <p>
      ezeesmoke™ e-cigarettes also offers smokers incredible savings from the cost of regular cigarettes. Across the United States, the average pack of regular cigarettes can cost up to $10. But the cost to those who buy ecigs averages out to just $3.59 per pack. Smokers averaging a pack per day of regular cigarettes who switch to a smoking alternative like ezeesmoke™ e-cigs can save approximately $45 a week, $180 a month, and over $2000 a year.
    </p>
    <p>
      <strong><em>No unpleasant odors or objectionable smells</em></strong>
    </p>
    <p>
      ezeesmoke™ e-cigarettes contain an electric smoke vapor that mimics the look and feel of cigarette smoke, and is virtually scent-free. Our electric smoke vapor also immediately disappears in the air, and produces no stale smoke smell in the home, car, hair or clothes. Friends, family, and people you work with will stop complaining about the smell of your <strong>ecigs</strong> - because there won't be any.
    </p>
    <p>
      <strong><em>Can be safely enjoyed just about anywhere</em></strong>
    </p>
    <p>
      ezeesmoke™ e-cigs require no matches, and produce no smoke, posing no danger to anyone around them -- including no risk of secondhand smoke inhalation or of accidentally starting a fire. That means that ecigs can safely be used just about anywhere, in places like bars, clubs, restaurants, hotels, and hospitals. Ecig smokers can even feel comfortable smoking their ecigs in bed!
    </p>
    <p>
      <strong><em>A variety of great tastes</em></strong>
    </p>
    <p>
      ezeesmoke™ e-cigarettes come in a variety of great electronic cigarette flavors, including menthol, cloves, and traditional flavor. And smokers who use these <strong>electronic cigarette</strong> cartridges can select not only among these flavors but also among a wide range of flavor-strengths, just as in regular cigarettes.
    </p>
    
  </div>
  
  <%# sidebar  %>
  <div class="span-8 last">
    <%= render :partial => 'shared/small_fact_sheet' %>
  </div>
  
  <hr class="space">
</div>