<div class="span-24 last">
  <div class="span-15">
    <h2>How it works</h2>
    <iframe width="574" height="349" src="http://www.youtube.com/embed/csdOJrUlci0" frameborder="0" allowfullscreen></iframe>
    <div class="how-it-works-item">
      <div>
        <div class="span-5">
          <img src="images/smokefit/howitworks-1.png" alt="image" height="137px" width="184px" />
        </div>
        <div class="span-9 last">
          <h2>What you will receive</h2>
          <p>When you order a Ezeesmoke deluxe pack with you will receive</p>
          <ul>
            <li>A customized box set</li>
            <li>A wall charger</li>
            <li>A USB charger and a Car charger</li>
            <li>Our unique carry case</li>
            <li>One packet of 5 cartridges</li>
            <li>2 batteries</li>
          </ul>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    <div class="how-it-works-item">
      <div>
        <div class="span-5">
          <img src="images/smokefit/howitworks-2.png" alt="image" height="137px" width="184px" />
        </div>
        <div class="span-9 last">
          <h2>How to assemble your Ezeesmoke</h2>
          <p>When you receive your Ezeesmoke kit follow these instructions</p>
          <ul>
            <li>Remove battery and charger</li>
            <li>Screw battery into charger and charge until tip starts glowing</li>
            <li>Unscrew battery from charger</li>
            <li>Screw cartridge into the fully charged battery</li>
            <li>Begin your Ezeesmoke experience</li>
          </ul>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    <div class="how-it-works-item">
      <div>
        <div class="span-5">
          <img src="images/smokefit/howitworks-3.png" alt="image" height="137px" width="184px" />
        </div>
        <div class="span-9 last">
          <h2>Recharging battery</h2>
          <p>When your battery requires charging, the tip will begin to flash on and off quickly.</p>
          <p>If this occurs, simply unscrew your cartridge and attach it to one of the chargers provided with your purchase.  After a full charge you should be able to continue smoking your Ezeesmoke e-cigarette.</p>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    <div class="how-it-works-item">
      <div>
        <div class="span-5">
          <img src="images/smokefit/howitworks-4.png" alt="image" height="137px" width="184px" />
        </div>
        <div class="span-9 last">
          <h2>Replacing Cartridges</h2>
          <p>Cartridges last for about 300 puffs, or the equivalent of 30 cigarettes. If your cartridge is empty, it will cease delivering vapor when you puff.</p>
          <p>Simply unscrew the cartridge and replace it with a new cartridge and you can continue your Ezeesmoke experience.</p>
        </div>
      </div>
    </div>
    
  </div>
  <%# sidebar  %>
  <div class="span-9 last">
    
    <div class="span-8 last">
      <h2>Maximum Results</h2>
    </div>
    
    <div class="how-it-works-sidebar-item">
      <div>
        <div class="span-4">
          <img src="images/smokefit/howitworks-side1.png" alt="image" height="93px" width="126px" />
        </div>
        <div class="span-5 last">
          <h4>Power up:</h4>
          <p>Our state of the art chargers mean you are always fully charged, wherever you are.</p>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    <div class="how-it-works-sidebar-item">
      <div>
        <div class="span-4">
          <img src="images/smokefit/howitworks-side2.png" alt="image" height="93px" width="126px" />
        </div>
        <div class="span-5 last">
          <h4>Always ready to rock:</h4>
          <p>Our long lasting, top of the range battery brings consistent power to your e cigarette.</p>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    <div class="how-it-works-sidebar-item">
      <div>
        <div class="span-4">
          <img src="images/smokefit/howitworks-side3.png" alt="image" height="93px" width="126px" />
        </div>
        <div class="span-5 last">
          <h4>Ready, steady, GO:</h4>
          <p>Our lean, mean high performance cartridges deliver the flavor and strength of your choice with a volume of vapor that will blow you away.</p>
        </div>
      </div>
    </div>
    
    <hr class="space">
    
    
  </div>
  <hr class="space">
</div>
