<div class="span-24 last">
  <div class="span-16">
    <h2>Testimonials</h2>
    
    <div class="span-16 last testimonial">
      <div class="span-16 last">
        <p>I have tried switching from cigarettes to nicotine patches and gum substitutes, but I just really missed smoking.  Ezeesmoke is brilliant.  I get the nicotine kick I want, none of the harmful stuff in a real cigarette and I don't feel i've had to give anything up.  I can't believe it's not real smoke, it feels exactly the same.  Thank you Ezeesmoke for making this so much easier for me!!</p>
      </div>
    </div>
    
    <hr>
    
    <div class="span-16 last testimonial">
      <div class="span-16 last">
        <p>The only thing I never enjoyed about smoking was the guilt!  I really care about my family and I always felt that every cigarette was a compromise to my health and to them.  Finally, I have a way to enjoy a cigarette without harming the people I care about.  My wife even lets me smoke it in the house.  Why not?  There's no second hand smoke!  The truth is, in the end, I would have given up smoking for the sake of my family, but now I don't have to.</p>
      </div>
    </div>
    
    <hr>
    
    <div class="span-16 last testimonial">
      <div class="span-16 last">
        <p>Finally, a cigarette I can have at my desk without bothering the people I work with!  I used to hate having to go out for a smoke, especially when it's raining.  It's just no fun having to freeze during your cigarette break!  Now i can watch the rain from the comfort of my heated office on those cold winter days!  </p>
      </div>
    </div>
    
    <hr>
    
    <div class="span-16 last testimonial">
      <div class="span-16 last">
        <p>Cigarettes used to really get in the way of my relationship.  My boyfriend thinks it's really unattractive to smell like an ashtray and, while I don't exactly disagree, it would definitely come between us.  Now I can smoke and not smell horrible.  My smoking doesn't bother him and we've been getting along really well.  He even has a smoke with me from time to time and agrees that it's quite pleasant! And I can't believe they come in different flavors... how cool!</p>
      </div>
    </div>
    
     <hr>

      <div class="span-16 last testimonial">
        <div class="span-16 last">
          <p>I love ezee smokes.  I've saved much more money than I expected by switching but even if they were the same price, i'd still do it.  They're not bad for you, you don't need to carry a lighter or beg a light from a stranger which I hate doing.  I can smoke them pretty much anywhere and they're just much more fashionable than paper ones.  It's like using email instead of writing letters... it's the way forward in smoking.  Love it.</p>
        </div>
      </div>
      
       <hr>

        <div class="span-16 last testimonial">
          <div class="span-16 last">
            <p>I resisted e-cigarettes for a while.  I refused to believe that anything could match the real thing.  I only had one because I was with my friends and had none of my usual cigarettes on me so I had some of hers.  I actually couldn't believe it.  Same kick, same smoke.  I assumed they must be really expensive and then she told me they come out cheaper!  I ordered my own one and have no intention of going back to my old brand.  And even though I was never that bothered by the health warnings, I do feel pleased that it's not something I have to think about anymore.  There's really no down side to the switch, apart from the fact that my friend keeps telling me, "I told you!"</p>
          </div>
        </div>
        
         <hr>

          <div class="span-16 last testimonial">
            <div class="span-16 last">
              <p>I've been a serious smoker all my life.  A few months ago, I switched to ecigs because I noticed that I was totally out of breath by the time i'd climbed two flights of stairs and that really scared me.  Since then, I heard that a close family member who has been smoking much longer than I have, was diagnosed with lung cancer.  I just wish these blessed things had been invented ten years earlier. we all smoke cause we like it.  None of us really thinks it's ever gonna kill us until it's too late.  Now I know that it can harm anyone.  I don't understand why everyone doesn't change to ecigs like now.  It's an obvious thing to do.  
              </p>
            </div>
          </div>
          
          <hr>

          <div class="span-16 last testimonial">
            <div class="span-16 last">
              <p>The thing I hate about smoking is that everyone's always taking cigarettes from me and never paying me back.  Not anymore! one filter, one owner.  Even that's saved money!! don't mean to sound stingy, but I really appreciate that about my Ezeesmoke.  
              </p>
            </div>
          </div>
    
  </div>
  
  <%# sidebar  %>
  <div class="span-8 last">
    <%= render :partial => 'shared/small_fact_sheet' %>
  </div>
  
  <hr class="space">
</div>