<div class="span-24 last">
  <%= breadcrumbs(:taxon => @taxon, :product => @product, :product_group => @product_group) %>
</div>
<hr class="space dashed">

<% if params[:keywords] %>

  <% if @products.empty? %>
    <%= t(:no_products_found) %>
  <% else %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>

<% else %>

  <%= render "shared/products", :products => @products, :taxon => @taxon %>

<% end %>
